.section{
   border: 1px solid #ccc!important;
   /* border-radius: 16px; */

   padding: 7px;
}

.label {
    display:block;
    color:black;
    text-align: left;
    font-size: 100%;
}

.field {
    display:block;
    margin: 7px;
}

.rowjf{
    display: flex;
    /* margin: 7px; */
}


.fielddiv{
    float: left;
    margin: 7px;
    /* margin-right:20px; */
}

.required{
  color: red;
  margin-left: 7px;
}

.select{
  -webkit-appearance: !important menulist;
}



* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 999;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}